a {
  color: white !important; /* Standardfarbe für Links */
  text-decoration: none !important; /* Falls du die Unterstreichung entfernen möchtest */
  font-size: larger;
}

a:visited {
  color: gray !important; /* Farbe für bereits besuchte Links */
}

a:hover {
  color: lightgray !important; /* Farbe beim Hover */
}

a:active {
  color: darkgray !important; /* Farbe beim Klicken */
}
#root > main > div > div > div.col-10 > div:nth-child(3) > font {
  font-size: 20px; /* Oder eine gewünschte Größe */
}

.ancestor {
  padding: 2px;
  border-radius: 2px;
  transition: background-color 0.3s ease;
}

.avkSpan{
  width: 250px;  /* Breite des Buttons anpassen */
    white-space: nowrap; /* Verhindert Umbruch des Textes */
    overflow: hidden; /* Versteckt den überlaufenden Text */
    text-overflow: ellipsis; /* Zeigt "..." für abgeschnittenen Text */
}

